section.col-3{
    background-color: rgba(125,125,125,.15);
    height: fit-content;
    padding-bottom: 1rem;
    
}

.list-group-item.active {
    background-color: #245336;
    border-color: #245336;
  }