header{
    background-color: white;
    
}
.cart-no{
    position: absolute;
    min-height: 22px;
    min-width: 22px;
    border-radius: 50%;
    background: #135952;
    color: white;
    text-align: center;
    top: -15px;
    right: 32px;
    font-size: clamp(0.75rem, 2vw, 1rem);

}
.container py-3{
    background-color: green;
}

a{
    text-decoration: none;
    color: rgb(55, 54, 54);
    
    &.active {
        
        color: #2f6c47;
        

    }
}

.logo {
    cursor: pointer;
}